<div class="container mt-2 mb-2">
  <div class="row justify-content-center">
    <div class="col-lg-2 col-md-4 col-sm-12">
      <p>Publicidad de comercios</p>
    </div>
    <div class="col-lg-5 col-md-3 col-sm-12">
      <hr>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-12">
      <p>Informacion</p>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-12">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
      <div class="card" style="width: 16rem;">
        <img src="../../../../assets/img/travel.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer text-muted">
          Antojitos doña lupe
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
      <div class="card" style="width: 16rem;">
        <img src="../../../../assets/img/travel.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer text-muted">
          Antojitos doña lupe
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
      <div class="card" style="width: 16rem;">
        <img src="../../../../assets/img/travel.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer text-muted">
          Antojitos doña lupe
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
      <div class="card" style="width: 16rem;">
        <p class="ml-1 mr-1"><i class="fas fa-plus mr-3"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi corporis ratione tenetur cupiditate, consequuntur officiis saepe, aperiam eius explicabo praesentium ipsum distinctio minus ipsam velit voluptates vel. Repellendus, necessitatibus excepturi?</p>
        <ul class="list-group mt-5">
          <li class="list-group-item"><i class="fas fa-plus mr-3"></i>Compras de alimentos</li>
          <li class="list-group-item"><i class="fas fa-plus mr-3"></i>Entradas a sitios</li>
        </ul>
      </div>
    </div>
  </div>
</div>
