<!-- Footer -->
<footer class="footer_bg text-center text-white">
  <!-- Grid container -->
  <div class="container p-5">

    <!-- Section: REDES SOCIALES -->
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 col-sm-12">
          <h5 class="text-uppercase text-white">REDES SOCIALES</h5>
          <div class="row justify-content-end">
            <div class="col-lg-1">
              <a class="btn btn-outline-light btn-floating" href="#!" role="button"><i class="fab fa-facebook-square"></i></a>
            </div>
            <div class="col-lg-5 ml-1">
              <p>Danos Un Like <br> En Facebook</p>
            </div>

            <div class="col-lg-1">
              <a class="btn btn-outline-light btn-floating" href="#!" role="button"><i class="fab fa-twitter"></i></a>
            </div>
            <div class="col-lg-4 ml-1">
              <p>Siguenos <br> En Twitter</p>
            </div>
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 col-sm-12">
          <h5 class="text-uppercase text-white">APLICACION MOVIL</h5>

          <div class="row justify-content-center">

              <img src="../../../assets/img/appStore.png" class="justify-content-center" alt="Imagen" style="width: 190px; height: 50px;">

              <br>

              <img src="../../../assets/img/playStore.png" class="justify-content-center mt-2" alt="Imagen" style="width: 190px; height: 50px;">

          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 col-sm-12">
          <h5 class="text-uppercase text-white">HORARIOS DE ATENCION</h5>

          <div>
            <p>
              <i class="fas fa-map-marker-alt mr-1"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>

            <p>Lunes a Sabado: <strong>8:00 a 17:00</strong></p>

            <p>Domingo: <strong>8:00 a 16:00</strong></p>
          </div>

        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->

    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

</footer>
<!-- Footer -->
